.card {
    display:inline-block !important;
    width: 30%;
    margin: 5px;
}

.container {
    /* margin-bottom: 30px; */
    padding: 1.5em;
}

.nav {
    background: #05C194;
    padding: 1.5em !important;
    color: #ffffff !important;
    font-size: 1.5em;
}

